body{
    font-family: 'Noto Serif', serif;
}
.banner-container{
    background-color: #425f4b;
}
.banner-column{
    background-color: rgb(30, 126, 126);
    height:200px;
}
.navbar-container{
    background-color: rgb(2, 16, 24);
    top:0;
    position:sticky;
    z-index: 2;
}
.nav-list:hover{
    background-color: cornflowerblue;
    transform: scale(1.1);
}
.about-container{
    background-color: sandybrown;
}
.h1 {
    font-weight: bold;
    color: rgb(182, 219, 228);
    font-size: 72px;
    letter-spacing: 3px;
    font-family (stack):"Times New Roman"

}
.h3 {
    font-weight: bold;
    font-size: 32px;
}
.education-container{
    background-color: rgb(3, 65, 54);
}
.redtypecolor{
    color: rgb(231, 140, 140);
}
.circle{
    background-color: salmon;
    width:140px;
    height:140px;
    border-radius: 50%;
}
.project-container{
    background-color: springgreen;
}
.form-container{
    background-color: tan;
}
.inner-form{
    background-color: tan;
}
.bg-redtype{
    background-color: turquoise;
}
.bg-redtype:hover{
     color: white !important;
}
.bg-redtype1{
    background-color:rgb(125, 104, 131);
    border-radius:10px;
}
.footer{
    background-color: #425F4B;
}
.circle1{
    width:60px;
    height:60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
}
.circle1:hover{
    background-color:blueviolet;
}
.widget-button{
    left:0px;
    text-transform: uppercase;
    font-family: lora;
    font-size: 24px;
    padding:11px 33px 13px;
    border-radius: 50px;
    border-width: 0px;
    text-decoration-color: white;
    cursor: pointer;
    background-color: rgb(0, 17, 255);
    letter-spacing: 3px;
    background-color: rgb(171, 240, 232);
    width: 50%;
    height: 70px;
}
.widget-button:hover{
    background-color: rgb(204, 143, 199) !important;
}
.bt-edu{
    font-size: 18px;
}
.text{
    text-decoration: none;
    color: rgb(233, 229, 240) !important;
}